@model FeedData
@{
    Layout = null;
}

<html>
<head>
    <title>Лента</title>
</head>
<body>
    <h3>Лента</h3>
    @foreach(var genre in Model.Genres)
    {
        <form method="post" action="~/Home/Feed">
            <input type="hidden" name="genreId" value="@genre.Id" />
            <button type="submit">@genre.Name</button>
        </form>
    }
    <br />
    <br />
    <table>
        <tr>
            <td>Содержимое</td>
            <td>Дата</td>
            <td></td>
        </tr>
        @foreach (var post in Model.Posts)
        {
            <tr>
                <td>@post.Body</td>
                <td>@post.CreatedDate</td>
                <td>
                    <form method="post" action="~/Home/DeletePost">
                        <input type="hidden" name="postId" value="@post.Id" />
                        <button type="submit">Удалить</button>
                    </form>
                </td>
            </tr>
        }
    </table>

    <a href="~/Home/CreatePost">Добавить пост</a>
</body>
</html>