@model Artbuk.Controllers.FeedData
@{
    //Layout = null;
}

<html>
<head>
    <title>Лента</title>
</head>
<style>
    .genre {
        display: inline-block
    }
</style>
<body>
    <h3>Лента</h3>

    <form class="genre" method="get" action="~/Feed/Feed">
        <button type="submit">Все</button>
    </form>

    @foreach(var genre in Model.Genres)
    {
        <form class="genre" method="post" action="~/Feed/Feed">
            <input type="hidden" name="genreId" value="@genre.Id" />
            <button type="submit">@genre.Name</button>
        </form>
    }
    <br />
    <br />
    <table>
        <tr>
            <td>Содержимое</td>
            <td>Дата</td>
            <td></td>
        </tr>
        @foreach (var postData in Model.PostDatas)
        {
            <tr>
                <td>@postData.Post.Body</td>
                <td>@postData.Post.CreatedDate</td>
                <td>
                    <form method="post" action="~/Profile/DeletePost">
                        <input type="hidden" name="postId" value="@postData.Post.Id" />
                        <button type="submit">Удалить</button>
                    </form>
                </td>
            </tr>
        }
    </table>

    <a href="~/Feed/CreatePost">Добавить пост</a>
</body>
</html>