@model Artbuk.Controllers.FeedData
@{
    //Layout = null;
}

<html>
<head>
    <title>Лента</title>
</head>
<style>
    .genre {
        display: inline-block
    }
</style>
<body>
    <h3>Лента</h3>

    <form class="genre" method="get" action="~/Feed/Feed">
        <button type="submit">Все</button>
    </form>

    @foreach(var genre in Model.Genres)
    {
        <form class="genre" method="post" action="~/Feed/Feed">
            <input type="hidden" name="genreId" value="@genre.Id" />
            <button type="submit">@genre.Name</button>
        </form>
    }
    <br />
    <br />
        <table>
        <tr>
        <td>Содержимое</td>
            <td>Дата</td>
            <td>Лайки</td>
        </tr>
            @foreach (var postData in Model.PostDatas)
            {
                <tr>
                    <td><a href="~/Post/Post?id=@postData.Post.Id">@postData.Post.Body</a></td>
                    <td>@postData.Post.CreatedDate</td>
                    <td>@postData.LikesCount</td>
                    <td>
                        <form method="post" action="~/Like/AddLike">
                            <input type="hidden" name="postId" value="@postData.Post.Id">
                            <input type="checkbox" name="isLiked" value="true">
                            <input type="submit" value="Поставить"/>
                        </form>
                    </td>      
                </tr>
            }
    </table>

    <a href="~/Feed/CreatePost">Добавить пост</a>
    <a href="~/Profile/Registration">Регистрация</a>
    <a href="~/Profile/Login">Авторизация</a>
    <a href="~/Profile/Profile">Профиль</a>
    <a href="~/Profile/Logout">Выйти</a>
</body>
</html>