@model Artbuk.Infrastructure.ViewData.FeedData
@{
    //Layout = null;
}

<html>
<head>
    <title>Лента</title>
</head>
<body>
    <div class="container">

        <div class="row justify-content-center">
            @foreach (var feedType in Model.FeedTypes)
            {
                var feedTypeClass = "feed-type";

                if (feedType.Id == Model.Options.FeedTypeId)
                {
                    feedTypeClass += " choosen";
                }
                <div class="col-3 @feedTypeClass">
                    <form class="@feedTypeClass" method="get" action="~/Feed/Feed">
                        <input type="hidden" name="genreId" value="@Model.Options.GenreId" />
                        <input type="hidden" name="feedType" value="@feedType.Id" />
                        <button class="feed-button" type="submit">@feedType.Name</button>
                    </form>
                </div>
            }
        </div>

        <div class="row genres">
            @{
                var allGenreClass = "genre";
            }

            @if (Model.Options.GenreId == null)
            {
                allGenreClass += " choosen";
            }
            <div class="col-2 block-genre @allGenreClass">
                <form class="@allGenreClass" method="get" action="~/Feed/Feed">
                    <input type="hidden" name="feedType" value="@Model.Options.FeedTypeId" />
                    <button class="button-genre" type="submit">Все</button>
                </form>
            </div>

            @foreach (var genre in Model.Genres)
            {
                var genreClass = "genre";

                if (genre.Id == Model.Options.GenreId)
                {
                    genreClass += " choosen";
                }
                <div class="col-2 block-genre @genreClass">
                    <form class="@genreClass" method="get" action="~/Feed/Feed">
                        <input type="hidden" name="genreId" value="@genre.Id" />
                        <input type="hidden" name="feedType" value="@Model.Options.FeedTypeId" />
                        <button class="button-genre" type="submit">@genre.Name</button>
                    </form>
                </div>
            }
        </div>

        <div class="row posts">
            @foreach (var post in Model.Posts)
            {
                <div class="col-4 post">
                    <a href="~/Post/Post?postId=@post.PostId">
                        <img class="feed-image" src=@Url.Content(post.ImagePath) runat="server" />
                    </a>
                </div>
            }
        </div>
    </div>
    <script src="js/site.js" asp-append-version="true"></script>
</body>
</html>