@model Artbuk.Controllers.ProfileData
@{
    //Layout = null;
}

<html>
<head>
    <title>Профиль</title>
</head>
<body>
    <h3>Профиль</h3>
    <br />
    <br />
    <div>
        <h4>@Model.UserName</h4>
    </div>
    <div>
        <img width="200px" height="200px" src=@Url.Content(@Model.UserImagePath) runat="server" />
        @if(Model.IsMe)
        {
            <form method="get" action="~/Profile/ChooseUserImage">
                <input type="hidden" name="userId" value="@Model.UserId" />
                <button type="submit">Установить аватарку</button>
            </form>
        }

        @if (!Model.IsMe)
        {
            if (Model.IsSubscribed)
            {
                <form method="get" action="~/Profile/Unsubscribe">
                    <input type="hidden" name="followedId" value="@Model.UserId" />
                    <button type="submit">Отписаться</button>
                </form>
            }
            else
            {
                <form method="get" action="~/Profile/Subscribe">
                    <input type="hidden" name="followedId" value="@Model.UserId" />
                    <button type="submit">Подписаться</button>
                </form>
            }
        }
    </div>

    @foreach (var postData in Model.Posts)
    {
        <div>
            <a href="~/Post/Post?postId=@postData.PostId">
                <img width="200px" height="200px" src=@Url.Content(@postData.ImagePath) runat="server" />
            </a>
        </div>
    }
</body>
</html>