@model Artbuk.Infrastructure.ViewData.ProfileData
@{
    //Layout = null;
}

<html>
<head>
    <title>Профиль</title>
</head>
<body>
    <div class="container">
        <div class="row profile-data">
            <div class="col-3 profile-header-item">
                <img class="profile-image" src=@Url.Content(@Model.ImagePath) runat="server" />
            </div>
            <div class="col-3 profile-header-item ">
                <div class="row profile-name">
                    <h4>@Model.Name</h4>
                </div>
                <div class="row subscribers">
                    <div class="col-5">
                        <h5>Подписчиков: </h5>
                    </div>
                    <div class="col-5">
                        <a style="display:flex" href="~/Users/Subscribers?userId=@Model.UserId">
                            <h5 id="subscribers-count">@Model.SubscribersCount</h5>
                        </a>
                    </div>
                </div>
                <div class="row subscriptions">
                    <div class="col-4">
                        <h5>Подписок: </h5>
                    </div>
                    <div class="col-5">
                        <a style="display:flex" href="~/Users/Subscribtions?userId=@Model.UserId">
                            <h5 style="display:block" id="subscriptions-count">@Model.SubscriprionsCount</h5>
                        </a>
                    </div>
                </div>
                <div class="row post-count">
                    <h5>Постов: @Model.Posts.Count()</h5>
                </div>
            </div>
            
                @if(!Model.IsMe)
                {
                    <div class="col-3 chat">
                        <a class="chat-title" href="~/Chat/Chat?withUserId=@Model.UserId">
                            <h5>Написать пользователю</h5>
                        </a>
                    </div>
                }
            
            <div class="col-3">
                @if (!Model.IsMe)
                {
                    var subscribeDisplayMode = (!Model.IsSubscribed) ? "block" : "none";
                    var unsubscribeDisplayMode = (Model.IsSubscribed) ? "block" : "none";

                    <div id="subscribe-@Model.UserId" style="display: @subscribeDisplayMode;">
                        <button class="btn btn-success subscribe-button" onclick="onSubscribeClick('@Url.Action("Subscribe", "Profile")', '@Model.UserId');">Подписаться</button>
                    </div>

                    <div id="unsubscribe-@Model.UserId" style="display: @unsubscribeDisplayMode;">
                        <button class="btn btn-danger subscribe-button" onclick="onUnsubscribeClick('@Url.Action("Unsubscribe", "Profile")', '@Model.UserId');">Отписаться</button>
                    </div>
                }
             </div>
            @if (Model.IsMe)
                {
                    <div class="choose-image">
                        <a href="~/Profile/ChooseUserImage?userId=@Model.UserId">
                            <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
                            </svg>
                        </a>
                    </div>
                }
        </div>
        <div class="row posts">
            @foreach (var postData in Model.Posts)
            {
                <div class="col-4 post">
                    <a href="~/Post/Post?postId=@postData.PostId">
                        <img class="feed-image" src=@Url.Content(@postData.ImagePath) runat="server" />
                    </a>
                </div>
            }
        </div>
    </div>
</body>
</html>