@model Artbuk.Infrastructure.ViewData.UsersData
@{
    //Layout = null;
}

<html>
    <head>
        <title>@Model.PageHeader</title>
    </head>
    <body>
        <h3>@Model.PageHeader</h3>

        @if (Model.Users.Count == 0)
        {
            <div>
                <span>Здесь пусто...</span>
            </div>
        }

        @foreach (var user in Model.Users)
        {
            <div>
                <a href="~/Profile/Profile?userId=@user.UserId">
                    <div display="inline-block">
                        <img width="200px" height="200px" src=@Url.Content(@user.ImagePath) runat="server" />
                    </div>
                    <div display="inline-block">
                        <span>@user.Name</span>
                    </div>
                </a>
            </div>
            @if (!user.IsMe)
            {
                var subscribeDisplayMode = (!user.IsSubscribed) ? "block" : "none";
                var unsubscribeDisplayMode = (user.IsSubscribed) ? "block" : "none";

                <div id="subscribe-@user.UserId" style="display: @subscribeDisplayMode;">
                    <button onclick="onSubscribeClick('@Url.Action("Subscribe", "Profile")', '@user.UserId');">Подписаться</button>
                </div>

                <div id="unsubscribe-@user.UserId" style="display: @unsubscribeDisplayMode;">
                    <button onclick="onUnsubscribeClick('@Url.Action("Unsubscribe", "Profile")', '@user.UserId');">Отписаться</button>
                </div>
            }
        }
    </body>
</html>