@model Artbuk.Controllers.PostPageData
@{
    //Layout = null;
}

<html>
<head>
    <title>Лента</title>

    <script src="https://code.jquery.com/jquery-3.6.3.js"></script>
</head>
<style>
    .genre {
        display: inline-block
    }
</style>
<body>
    <h3>Лента</h3>

    <br />
    <br />
    <img width="200px" height="200px" src=@Url.Content(@Model.ImageInPost.ImagePath) runat="server" />
    <p>Содержание: @Model.Post.Body</p>
    <p>Дата создания: @Model.Post.CreatedDate</p>
    <p>Жанр: @Model.Genre.Name</p>
    <p>Софт: @Model.Software.Name</p>
    <div>
        <p>Лайки: <span id="likes-count">@Model.LikesCount</span></p>
        <div display:"inline">
            <input type="checkbox" onclick="onLikeClick('@Url.Action("AddLike", "Like")', '@Model.Post.Id');" checked="@Model.IsLiked" />
        </div>
    </div>
    <div id="comment-container">
        <h3>Комментарии</h3>
        <form class="comment-form" method="post" action="~/Post/AddComment">
            <input type="text" name="body" />
            <input type="hidden" name="postId" value="@Model.Post.Id" />
            <button type="submit">Создать комментарий</button>
        </form>
        @foreach (var comment in Model.Comments)
        {
            <div>
                <p>
                    @comment.User.Login: @comment.Body
                </p>
            </div>
        }
    </div>
    <a href="~/Feed/Feed">Назад</a>
</body>
</html>
