@model Artbuk.Infrastructure.ViewData.PostPageData
@{
    //Layout = null;
}

<html>
<head>
    <title>Пост</title>

    <script src="https://code.jquery.com/jquery-3.6.3.js"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/style.css"/>
    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.js"></script>
</head>
<style>
    .genre {
        display: inline-block
    }
</style>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-7 image">
                <img class="post-image" src=@Url.Content(@Model.ImagePath) runat="server" />
            </div>
            <div class="col-4 post-info">
                <div class="post-item user">
                    <div class="col-2">
                        <img class="user-image" src=@Url.Content(@Model.Creator.ImagePath) runat="server" />
                    </div>
                    <div class="col-7">
                        <h5 class="user-name"><a href="~/Profile/Profile?userId=@Model.Creator.Id">@Model.Creator.Name</a></h5>
                    </div>
                    <div class="col-2">
                        @if (Model.IsRemovable)
                        {
                            <a class="post-delete" href="~/Post/DeletePost?postId=@Model.Post.Id">Удалить</a>
                        }
                    </div>
                </div>
                <div class="post-item like">
                    <input class="like-item like-add" style="display:inline" type="checkbox" onclick="onLikeClick('@Url.Action("AddLike", "Like")', '@Model.Post.Id');" checked="@Model.IsLiked" />
                    <p class="like-item like-text">Понравилось:</p>
                    <a style="display:inline" href="~/Users/PostLikedBy?postId=@Model.Post.Id">
                        <p id="likes-count" class="like-item like-count">@Model.LikesCount</p>
                    </a>
                </div>
                <div class="post-item post-description">
                    <p class="body">@Model.Post.Body</p>
                </div>
                <div class="post-item genre">
                    <p class="body">@Model.Genre</p>
                </div>
                <div class="post-item software">
                    <p class="body">@Model.Software</p>
                </div>
                <div class="post-item comments">
                    <h4>Комментарии:</h4>
                    <div class="comment-input">
                        <form class="comment-form" asp-action="AddComment" asp-controller="Post" method="POST" data-ajax="true" data-ajax-update="#comments">
                            <textarea type="text" name="body"></textarea>
                            <input type="hidden" name="postId" value="@Model.Post.Id" />
                            <button class="btn btn-outline-dark comment-button" type="submit">Создать комментарий</button>
                        </form>
                    </div>
                    <div id="comments">
                        @Html.Partial("PostComments", Model.Comments)
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>