@model Artbuk.Infrastructure.ViewData.PostPageData
@{
    //Layout = null;
}

<html>
<head>
    <title>Пост</title>

    <script src="https://code.jquery.com/jquery-3.6.3.js"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/style.css"/>
</head>
<style>
    .genre {
        display: inline-block
    }
</style>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-8 image">
                <img class="post-image" src=@Url.Content(@Model.ImagePath) runat="server" />
            </div>
            <div class="col-4 post-info">
                <div class="post-item user">
                    <img class="user-image" src=@Url.Content(@Model.User.ImagePath) runat="server" />
                    <h5 class="user-name"><a href="~/Profile/Profile?@Model.User.Id">@Model.User.Name</a></h5>
                </div>
                <div class="post-item like">
                    <input class="like-item like-add" style="display:inline" type="checkbox" onclick="onLikeClick('@Url.Action("AddLike", "Like")', '@Model.Post.Id');" checked="@Model.IsLiked" />
                    <p class="like-item like-text">Понравилось:</p>
                    <a style="display:inline" href="~/Users/PostLikedBy?postId=@Model.Post.Id">
                        <p id="likes-count" class="like-item like-count">@Model.LikesCount</p>
                    </a>
                </div>
                <div class="post-item post-description">
                    <p class="body">@Model.Post.Body</p>
                </div>
                <div class="post-item genre">
                    <p class="body">@Model.Genre</p>
                </div>
                <div class="post-item software">
                    <p class="body">@Model.Software</p>
                </div>
                <div class="post-item comments">
                    <h4>Комментарии:</h4>
                    <div class="comment-input">
                        <form class="comment-form" method="post" action="~/Post/AddComment">
                            <textarea type="text" name="body"></textarea>
                            <input type="hidden" name="postId" value="@Model.Post.Id" />
                            <button class="btn btn-outline-dark comment-button" type="submit">Создать комментарий</button>
                        </form>
                    </div>
                    <div class="comments-info">
                        @foreach (var comment in Model.Comments)
                        {
                            <div class="comment-data row">
                                <div class="comment-user">
                                    @*<div class="col-2">
                                        <img class="user-image" src=@Url.Content(comment.User.ImagePath) runat="server" />
                                    </div>*@
                                    <div class="user-name col-2">
                                        <a href="~/Profile/Profile?userId=@comment.User.Id">
                                            @comment.User.Name
                                        </a>
                                    </div>
                                    <div class="comment-text col-8">
                                        <span>: @comment.Body</span>
                                    </div>
                                    <div class="comment-delete col-1">
                                        @if (comment.IsRemovable)
                                        {
                                            <form method="post" action="~/Post/DeleteComment">
                                                <input type="hidden" name="commentId" value="@comment.Id" />
                                                <button class="comment-button-delete" type="submit">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                                        <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z" />
                                                    </svg>
                                                </button>
                                            </form>
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
